button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
button.on {
    color: #000;
  }
button.off {
    color: #ccc;
}
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
